name: Publish to PyPI from release

on:
  release:
    type: created

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: Publish release
    permissions:
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set version
        run: |
          sed -i "s/version *=.*/version = '${{ github.event.release.tag_name }}'/g" pyproject.toml

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
